html, body{
	height: 800px;
	width: 1325px;
}

 .container{
   width:100%;
   height:100%;
   margin: 0 auto;
   background:#f9f9f9;
  }
  .header{
   width: 100%;
   height: 8%;
   background: black;
   float: right;
  }
  .menu{
   width:20%;
   height:92%;
   background: black;
   float:left;
   margin-top:0%;
   margin-right: 0%;
  }
  .content{
   width:80%;
   height:92%;
   float:right;
   margin-top:0%;
   margin-bottom:0%;
   margin-left: 0%;
   background-image: url(back.jpg);
   background-size: cover;
  }

.nama{
  -webkit-text-stroke : 0.03em yellow;
color: red;
float: left;
width: 40%;
height: 8%;
font-family: Bernard MT Condensed;
font-size: 50px;
margin-top: 0%;
}

.login{
font-size: 20px;
width: 10%;
float: right;
text-align: center;
}

.login a {
  vertical-align: middle;
  color: white;
  text-decoration: none;
  font-family: Premier League;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: Premier League;
}

.judul {

  -webkit-text-stroke : 0.03em yellow;
color: red;
font-family: Bernard MT Condensed;
font-size: 100px;
margin-top: 0%;
margin-bottom: 0%;
}

.servis {

  -webkit-text-stroke : 0.03em black;
color: white;
font-family: Bernard MT Condensed;
font-size: 30px;
margin-top: 0%;
}

.add {

  -webkit-text-stroke : 0.03em black;
color: white;
font-family: Bernard MT Condensed;
font-size: 30px;
margin-top: 0%;
}

.submit {
  padding: 20px 40px;
  background-color: navy;
  border-radius: 10px;
  color: white;
}

.form-group input{
    padding: 5px 40px;
    margin-bottom: 8px;
    border-radius: 5px;
}